body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.nimbus-is-editor {
  background-image: url("../assets/bg-weather.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#wrapper {
  width: 1056px;
  margin: 20px auto;
}
